@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: Roboto, "sans-serif";
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.header{
    background-color: #1F2937;
    color: #F9FAF8;
    outline: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.right{
    display: flex;
    gap: 32px;
    font-size: 18px;
}
.left{
    font-size: 24px;
    padding: 0 70px;
}
li{
    list-style: none;
}
.hero-subtext{
    font-size: 18px;
    padding: 0 100px;
}
.right{
    font-size: 18px;
}
.sign-up{
    display: block;
    width: 8%;
}
.hero-text{
    font-size: 48px;
    padding: 0 100px;
}
.sign-up{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px;
}
.contains{
    background-color: #1F2937;
    color: #F9FAF8;
}
img{
    width: 300px;
    height: auto;
}
.image{
    float: right; /*Moves image to the right so that it floats next to other content*/
    padding-right: 100px;
    margin-top: 75px;
}
img{
    width: 100px;
    height: 100px;
}
.hero-container{
    display: flexbox;
}
p{
    display: flex;
    flex-direction: column;
}
.middle-container{
    display: flex;
    justify-content: center;
    text-align: center; /*Centers the text*/
    align-items: center;
    gap: 52px; /*Gap acts similiar to justify-content:space-between*/
}
.text{
    align-items: center;
}
.title{
    text-align: center;  /*Centers the text*/
    margin-bottom: 32px; /*Moves things below the title down 32px*/
}.wrapper{
    outline: 2px solid red;
    max-width: 200px; /*Makes the reusable wrapper image-text card's max width to 200px*/
}
.bottom-container{
    outline: 2px solid gray;
    margin-top: 32px;
    text-align: center;
}
.quote-of-thor{
    margin-bottom: 52px;
}
.Bold{
    font-weight: 900;
}
.action{
    display: flex;
    flex-direction: column;
}



